* {
    box-sizing: border-box;
}

.gallery-img {
    display: none;
    max-height: 600px;
}

.active {
    display: block;
}

.image-gallery,
.btns {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.btn {
    background-color: navy;
    color: white;
    font-size: 1.5rem;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
}

button:disabled {
    cursor: not-allowed;
    background-color: #777777;
}